doctype html
html
    head
        meta(charset='utf-8')
    body
        form(action='/bp' method ='post')
          p
            input(type='text' name='table' placeholder='table')
          p
            input(type='submit')

             
            
